<div class="gdprpopup-container gdprpopup-container-{{ settings.position }}">
    <div class="gdprpopup-body">
        <p>{{ settings.text|default('cookie_information'|trans({}, 'NucleosGDPRBundle')) }}
        </p>
    </div>
    <div class="gdprpopup-buttons">
        <a href="#" class="gdprpopup-button gdprpopup-button-confirm">
            {{ 'cookie_confirm'|trans({}, 'NucleosGDPRBundle') }}
        </a>

        {% if settings.url %}
            <a href="{{ settings.url }}" target="_self" class="gdprpopup-button gdprpopup-button-more">
                {{ 'cookie_data_protection'|trans({}, 'NucleosGDPRBundle') }}
            </a>
        {% endif %}
    </div>
    <a href="#" class="gdprpopup-closebutton">x</a>
</div>
